@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {
    @apply bg-gradient-to-r from-[#3357FF] to-[#00C9A7] shadow-xl text-white px-5 py-2 rounded-xl font-semibold hover:scale-105 transition;
}

.bg-gradient {
    @apply bg-gradient-to-r from-[#00C9A7] to-[#22C55E];
}
.menu li a{
    @apply bg-primary-100 text-red-400 
}
/* .nav li a.active{
    @apply bg-primary-100 text-green-600 
} */
/* .navlink.active{
     @apply bg-red-500 text-green-600 
} */