@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-gradient {
    @apply bg-gradient-to-r from-[#3357FF] to-[#00C9A7] shadow-xl text-white px-5 py-2 rounded-xl font-semibold hover:scale-105 transition;
}

.bg-gradient {
    @apply bg-gradient-to-r from-[#00C9A7] to-[#22C55E];
}

.menu li a {
    @apply bg-primary-100 text-red-400
}

.section_title {
    @apply text-center text-primary-400 md:text-5xl font-extrabold my-5
}
.section_subtitle {
    @apply text-center text-[#4B5563] dark:text-[#D1D5DB]  text-xl my-3
}